@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-text-color: #d3ab76;
    --main-font-family: 'Poppins', sans-serif;
    --nav-font-weight: 600;
    --nav-font-size: 14px;
}


* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

/*      Nav-Bar     */

.cafe__header {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-block: 44px;
    background-color: #252525;
    color: white;
}

.cafe__nav {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}


.cafe__nav li {
    text-decoration: none;
    display: inline-block;
}

.cafe__nav__items {
    display: inline-block;
    margin-inline: 26px;
    position: relative;
    text-decoration-line: none;
    padding-bottom: 4px;
    color: var(--main-text-color);
    letter-spacing: 3px;
    font-family: var(--main-font-family);
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
    border-bottom: 2px solid #252525;
    white-space: nowrap;
}

.cafe__nav__items:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--main-text-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.cafe__nav__items:hover:after { 
    width: 100%; 
    left: 0; 
  }

#selected {
    color: red;
}

/* Content */

.content { 
    min-height: 90vh;
    color : white;
    text-align: center;
    font-family: var(--main-font-family);
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
}

.content h2 {
    margin-top: 4vh ;
    font-size: 2em;
}

/*Contact page*/

#contact ul {
    padding: 1em;
    list-style: none;
}

#contact h2,h3 {
    color: #d3ab76;
}

#contact img {
    width: 10%;
}
/*Table*/

table, th, td {
    border :1px solid white;
    border-collapse: collapse;
}

table {
    align-items: center;
    width: 80%;
    margin-left: 10% ;
    margin-top: 5%;
}

th { 
    font-size: larger;
    padding: 10px;
}

td { 
    padding: 5px;
}