@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Home */
:root {
    --main-text-color: #d3ab76;
    --main-font-family: 'Poppins', sans-serif;
    --nav-font-weight: 600;
    --nav-font-size: 14px;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    16.6%{
        transform: translateX(0);
    }
    33.2%{
        transform: translateX(-100%);
    }
    49.8%{
        transform: translateX(-100%);
    }
    66.4%{
        transform: translateX(-200%);
    }
    83%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-300%);
    }
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    overflow-x: hidden;
}

/*      Nav-Bar     */

.cafe__header {
    z-index: 1;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 44px;
    background-color: rgba(15,15,15, 0.6);
    color: white;
}

.cafe__header nav {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}


.cafe__header nav li {
    text-decoration: none;
    display: inline-block;
}


.cafe__nav ul li a{
    display: inline-block;
    margin-inline: 26px;
    position: relative;
    text-decoration-line: none;
    padding-bottom: 4px;
    color: var(--main-text-color);
    letter-spacing: 3px;
    font-family: var(--main-font-family);
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
    border-bottom: 2px solid transparent;
    white-space: nowrap;
}

.cafe__nav ul li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--main-text-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.cafe__nav ul li a:hover:after { 
    width: 100%; 
    left: 0; 
}

.cafe__slider {
    height: 100vh;
}

.cafe__slideshow {
    width: 100vw;
    display: flex;
    animation: slide 20s infinite;
}

.cafe__slider__wrapper {
    display: flex;
    position: absolute;
    overflow: hidden;
}

.cafe__slideshow img {
    object-fit: cover;
    min-width: 100vw;
    height: 100vh;
}

.cafe__logo {
    position: absolute;
    display: flex;
    top: 0;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cafe__grid {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
    font-family: var(--main-font-family);
}

.cafe__grid__item__wrapper {
    display: flex;
    height: 50%;
    width: 80vw;
}

.cafe__grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    border: 1px solid var(--main-text-color);
}

#grid2 {
    flex-direction: row-reverse;
}

.cafe__grid img {
    width: 100%;
    height: 100%;
}

.cafe__grid__text {
    padding: 3%;
    font-family: var(--main-font-family);
}

.cafe__grid h1 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.cafe__grid p {
    text-align: center;
    text-align: center;
    margin-top: 3%;
    font-weight: normal;
    width: 80%;
}

.cafe__contact__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: var(--main-text-color);
    font-family: var(--main-font-family);
}

.cafe__contact {
    /* border-top: 2px solid var(--main-text-color); */
    /* padding-top: 30px; */
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.cafe__contact__component {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cafe__contact__image {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid var(--main-text-color);
}

.cafe__contact__wrapper h1 {
    margin-top: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-weight: bold;
}

.cafe__contact__wrapper p {
    margin-top: 10px;
    font-size: 0.8em;
    letter-spacing: 4px;
    text-align: center;
}

.cafe__takeaway {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    font-family: var(--main-font-family);
    color: var(--main-text-color);
}

.cafe__takeaway h1 {
    font-weight: bold;
    font-size: 3em;
}

.cafe__takeaway__images {
    width: 80vw;
    display: flex;
    margin-top: 20px;
}

.cafe__takeaway img {
    width: 50%;
}

.cafe__takeaway p {
    width: 75%;
    text-align: center;
    margin-top: 20px;
}

.cafe__footer {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    display: flex;
    align-items: flex-end;
    height: 8vh;
}

.cafe__footer p {
    margin-left: 20px;
    margin-bottom: 20px;
}

.cafe__takeaway__button {
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
    font-family: var(--main-font-family);
    background: none;
    border: 2px solid var(--main-text-color);
    background: black;
    font-size: 1.1em;
    width: 7em;
    height: 2.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

.cafe__takeaway__button:hover {
    background: var(--main-text-color);
    color: black;
    cursor: pointer;
    transform: scale(1.05);
}

.cafe__takeaway__button a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: var(--main-text-color);
    padding: 1em;
}

.cafe__takeaway__button a:hover {
    color: black;
    cursor: pointer;
}

.cafe__grid p a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 1.1em;
.cafe__normal__link {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
}

.cafe__link__image {
    margin-top: 40px;
    width: 160px;
    border-radius: 8px;
}

@media only screen and (max-width: 800px) {
    .cafe__grid__item__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }

    .cafe__grid__text {
        padding: 0;
    }

    #grid2 {
        flex-direction: column;
    }

    .cafe__grid__item {
        max-width: 100%;
        width: 100%;
        border: none;
        margin-top: 20px;
    }

    .cafe__contact {
        flex-direction: column;
    }

    .cafe__contact__component {
        margin-bottom: 40px;
    }

    .cafe__header {
        position: unset;
        flex-direction: column;
    }
    .cafe__header nav li {
        display: block;
        font-size: 20px;
    }
    .cafe__logo {
        top: 35vh;
    }
}

#selected {
    color: red;
}

/* Content */

.unset {
    position: unset;
}

.content { 
    color : white;
    text-align: center;
    font-family: var(--main-font-family);
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
}

.no-margin {
    margin: 0;
}

.content h2 {
    margin-top: 4vh ;
    font-size: 2em;
    color : #d3ab76;
}

/*Contact page*/

#contact ul {
    padding: 1em;
    list-style: none;
}

#contact h2,h3 {
    color: #d3ab76;
}


#lowergrid {
    margin-top: 0px;
}

#contacts img {
    max-width: 60%;
    height: auto;
    
}

#contacts li{
    list-style: none;
}

/*Table*/

table, th, td {
    border :1px solid white;
    border-collapse: collapse;
    color: #d3ab76;
}

table {
    align-items: center;
    width: 80%;
    margin-left: 10% ;
    margin-top: 5%;
}

th { 
    font-size: larger;
    padding: 10px;
}

td { 
    padding: 5px;
}